<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301.ajford.expense_tracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:name=".ExpenseTrackerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.TravelClaimListActivity"
            android:label="@string/title_travelclaim_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TravelClaimDetailActivity"
            android:label="@string/title_travelclaim_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301.ajford.expense_tracker.TravelClaimListActivity" />
        </activity>
        <activity
            android:name=".activities.NewTravelClaimActivity"
            android:label="@string/newTravelClaim" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301.ajford.expense_tracker.TravelClaimListActivity" />
        </activity>
        <activity
            android:name="cmput301.ajford.expense_tracker.activities.NewExpenseItemDialogFragment"
            android:label="@string/title_activity_new_expense_item"
            android:parentActivityName=".activities.NewTravelClaimActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301.ajford.expense_tracker.activities.NewTravelClaimActivity" />
        </activity>
    </application>

</manifest>
